# A config file not named .isort.cfg must use the [isort] header; isort
# silently ignores [settings] there.
[isort]
profile = black
line_length = 79
{%- if cookiecutter.get("backend_django") == "yes" %}
known_first_party = apps,config{% if cookiecutter.get("ml_pytorch") == "yes" %},ml{% endif %}
{%- else %}
known_first_party = {{ cookiecutter.package_name }}
{%- endif %}
